@mixin flex_center($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin after_before($width, $height) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
}

@mixin align_center($alignment) {
    display: flex;
    justify-content: $alignment;
    align-items: center;
    height: 100%;
}

@mixin list_item {
    li {
        display: inline-block;
        margin: 0 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
    a {
        @content;
    }
}

@mixin blur_shape($width, $height, $background, $opacity) {
    .banner_shape {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $width + px;
        height: $height + px;
        background: $background;
        z-index: -1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        filter: blur(80px);
        opacity: $opacity;
    }
}

@mixin blur_shape2($top, $left, $width, $height, $background, $opacity) {
    .banner_shape2 {
        position: absolute;
        top: $top;
        left: $left;
        width: $width + px;
        height: $height + px;
        background: $background;
        z-index: -1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        filter: blur(80px);
        opacity: $opacity;
    }
}

@mixin full_height_sec {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

@mixin shadow_3D_1 {
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(41, 72, 152, 0.01),
        0px 8.148148536682129px 6.518518447875977px 0px rgba(41, 72, 152, 0.02), 0px 20px 13px 0px rgba(41, 72, 152, 0.03),
        0px 38.51852035522461px 25.481481552124023px 0px rgba(41, 72, 152, 0.03),
        0px 64.81481170654297px 46.85185241699219px 0px rgba(41, 72, 152, 0.04), 0px 100px 80px 0px rgba(41, 72, 152, 0.05);
}
