$space: (
    "300": 300px,
    "200": 200px,
    "250": 250px,
    "100": 100px,
    "150": 150px,
    "120": 120px,
    "80": 80px,
    "70": 70px,
    "60": 60px,
    "50": 50px,
    "40": 40px,
    "30": 30px,
    "20": 20px,
    "10": 10px,
);

@each $name, $size in $space {
    .m-t-#{$name} {
        margin-top: $size;
    }
}

@each $name, $size in $space {
    .m-b-#{$name} {
        margin-bottom: $size;
    }
}

@each $name, $size in $space {
    .m-t-b-#{$name} {
        margin-top: $size;
        margin-bottom: $size;
    }
}

@each $name, $size in $space {
    .p-t-#{$name} {
        padding-top: $size;
    }
}

@each $name, $size in $space {
    .p-b-#{$name} {
        padding-bottom: $size;
    }
}

@each $name, $size in $space {
    .p-t-b-#{$name} {
        padding-top: $size;
        padding-bottom: $size;
    }
}

$space-md-mobile: (
    "300": 160px,
    "200": 150px,
    "250": 200px,
    "100": 80px,
    "150": 100px,
    "80": 40px,
);

@media (max-width: 1199px) {
    @each $name, $size in $space-md-mobile {
        .m-t-#{$name} {
            margin-top: $size;
        }
    }

    @each $name, $size in $space-md-mobile {
        .m-b-#{$name} {
            margin-bottom: $size;
        }
    }

    @each $name, $size in $space-md-mobile {
        .m-t-b-#{$name} {
            margin-top: $size;
            margin-bottom: $size;
        }
    }

    @each $name, $size in $space-md-mobile {
        .p-t-#{$name} {
            padding-top: $size;
        }
    }

    @each $name, $size in $space-md-mobile {
        .p-b-#{$name} {
            padding-bottom: $size;
        }
    }

    @each $name, $size in $space-md-mobile {
        .p-t-b-#{$name} {
            padding-top: $size;
            padding-bottom: $size;
        }
    }
}
