$primary_color: #5d5fef;
$primary_color_80: #7879f1;
$primary_color_60: #a5a6f6;
$black_color: #161616;
$border_color: rgba($black_color, 0.12);
$silver_color: #818181;
$light_silver_color: #f1f1f1;
$white_color: #ffffff;
$body_bg: #f1f1f1;
$input_color: rgba(27, 31, 33, 0.5);
