@import "_variables.scss";
@import "_font.scss";
@import "_mixin.scss";
@import "_themeColors.scss";
@import "_space.scss";

/*==========Common CSS ==========*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: $body_font;
    color: $black_color;
    background-color: $body_bg;
    text-rendering: optimizeSpeed;
}

button,
input,
select,
optgroup,
textarea {
    color: $black_color;
    font-size: 16px;
    line-height: 26px;
}

img {
    max-width: 100%;
}

section {
    position: relative;
}

.sec_wp {
    position: relative;
    z-index: 4;
}

.wow {
    visibility: hidden;
}

.for_des {
    display: block !important;
}

.for_mob {
    display: none !important;
}

.for_des_flex {
    display: flex !important;
}

.for_mob_flex {
    display: none !important;
}

.back_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*==========Common CSS End==========*/

/*==========Form CSS==========*/

.form_element {
    position: relative;

    i {
        position: absolute;
        top: 15px;
        right: 20px;
        pointer-events: none;
        color: $primary_color;
    }
}

.form_input_wp {
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.form_input::-webkit-input-placeholder {
    color: $input_color;
}

.form_input::-moz-placeholder {
    color: $input_color;
}

.form_input:-ms-input-placeholder {
    color: $input_color;
}

.form_input::-ms-input-placeholder {
    color: $input_color;
}

.form_input::placeholder {
    color: $input_color;
}

select {
    color: $input_color !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand {
        display: none;
    }
    option {
        color: $black_color !important;
    }
}

.form_input,
select {
    width: 100%;
    height: 46px;
    border: 1px solid $black_color;
    outline: none !important;
    padding: 0 30px;
    color: $black_color;
    background: $white_color;
    -webkit-appearance: none;
    border-radius: 0;
}

textarea.form-input {
    height: 192px;
    resize: none;
    padding: 18px 30px;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    outline: none !important;
    overflow: hidden;
    background: $primary_color;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
    margin-right: 10px;
    -webkit-appearance: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy4wMzAzIDAuOTY5NjdDMTMuMzIzMiAxLjI2MjU2IDEzLjMyMzIgMS43Mzc0NCAxMy4wMzAzIDIuMDMwMzNMNi4wMzAzMyA5LjAzMDMzQzUuNzM3NDQgOS4zMjMyMiA1LjI2MjU2IDkuMzIzMjIgNC45Njk2NyA5LjAzMDMzTDAuOTY5NjcgNS4wMzAzM0MwLjY3Njc3NyA0LjczNzQ0IDAuNjc2Nzc3IDQuMjYyNTYgMC45Njk2NyAzLjk2OTY3QzEuMjYyNTYgMy42NzY3OCAxLjczNzQ0IDMuNjc2NzggMi4wMzAzMyAzLjk2OTY3TDUuNSA3LjQzOTM0TDExLjk2OTcgMC45Njk2N0MxMi4yNjI2IDAuNjc2Nzc3IDEyLjczNzQgMC42NzY3NzcgMTMuMDMwMyAwLjk2OTY3WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==");
    font-size: 12px;
    padding-top: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex(center, center);
}

input[type="radio"]:checked::before {
    @include after_before(100%, 100%);
    border-radius: 50%;
    background: $primary_color;
    border: 3px solid $white_color;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

/*==========Form CSS End==========*/

/*==========Typography CSS==========*/

p {
    @include font-size($p_font_sizes);
    color: $silver_color;

    a {
        color: $primary_color;
        position: relative;
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover {
            background-position: 0 0;
        }
    }

    &.big_text {
        @include font-size($big_p_font_size);
    }
}

a {
    text-decoration: none !important;
    outline: none !important;
    color: $black_color;

    &:hover {
        color: initial;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: $title_font;
}

.h1_title,
.h2_title,
.h3_title,
.h4_title,
.h5_title,
.h6_title {
    span {
        display: block;
    }
}

.h1_title {
    @include font-size($h1_font_sizes);
    text-transform: capitalize;
    font-style: italic;
}

.h2_title {
    @include font-size($h2_font_sizes);
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
}

.h3_title {
    font-size: 28px;
    line-height: 38px;
}

.h4_title {
    font-size: 20px;
    line-height: 28px;
}

.h5_title {
    font-size: 18px;
    line-height: 28px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.read_more {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 3px;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $primary_color;
        transform: scaleX(0);
        transform-origin: right;
        -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1), -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        opacity: 0.5;
    }

    svg {
        transition: 0.3s;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
            transform-origin: left;
        }

        svg {
            transform: rotate(45deg);
        }
    }
}

/*==========Typography CSS End==========*/

/*==========Button CSS==========*/

.sec-btn {
    padding: 16px 41px;
    line-height: 1.42857143;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $black_color;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    outline: none !important;
    border-radius: 0 !important;
    font-weight: 600;
    transition: 0.4s;

    &:hover {
        color: $white_color;
    }

    &.white-hover-btn {
        &:hover {
            color: $black_color;
        }
    }

    &.white-btn {
        color: $black_color;

        &:hover {
            color: $white_color;
        }
    }
}

/*==========Button CSS End==========*/

/*==========loader CSS==========*/

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black_color;
    z-index: 99;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white_color;
    }
}

/*==========loader CSS End==========*/

/*==========Header CSS==========*/

.site_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($black_color, 0.1);

    .header_menu {
        @include flex(center, center);
        ul {
            @include list_item() {
                --menu_padding: 5px;
                color: $black_color;
                font-weight: 500;
                transition: 0.3s;
                position: relative;
                @include flex(initial, center);
                text-transform: uppercase;
                padding-left: var(--menu_padding);
                padding-right: var(--menu_padding);
                padding-bottom: 2px;
                @include font-size($font_sizes_18);
                font-weight: 600;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $primary_color;
                    border-radius: 50%;
                    display: block;
                    opacity: 0;
                    transition: 0.3s;
                }

                &:hover,
                &.active_menu {
                    color: $primary_color;

                    &:before {
                        opacity: 0.4;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .header_button {
        @include flex(right, center);
        column-gap: 12px;
        .theme-toggle {
            --button_size: 48px;
            font-size: 25px;
            width: var(--button_size);
            height: var(--button_size);
            border-radius: 50%;
            background-color: $black_color;
            color: $white_color;
            @include flex(center, center);
            @include shadow_3D_1;
        }
    }
}

.drop_down {
    position: relative;

    .drop_down_btn {
        --button_spacing: 25px;
        @include flex(center, center);
        padding: {
            left: var(--button_spacing);
            right: var(--button_spacing);
        }
        min-height: 48px;
        border-radius: $lg_border_radius;
        position: relative;
        z-index: 2;
        outline: none !important;
        border: none !important;
        background-color: $black_color;
        color: $white_color;
        @include shadow_16_DP;

        svg {
            margin-left: 28px;
        }

        &:hover {
            ~ .drop_down_list {
                @include show_menu;
            }
        }
    }

    .drop_down_list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba($white_color, 0.2);
        border-radius: $sm_border_radius;
        padding: 8px 15px;
        backdrop-filter: blur(25px);
        border: 1px solid rgba($black_color, 0.5);
        transition: 0.3s;
        @include hidden_menu;
        @include shadow_16_DP;

        li {
            display: block;
            &:not(li:last-child) {
                margin-bottom: 5px;
            }

            a {
                transition: 0.2s;
                &:hover {
                    color: $primary_color;
                }
            }
        }

        &:hover {
            @include show_menu;
        }
    }
}

/*==========Header CSS End==========*/
