@import "_variables.scss";
@import "_font.scss";
@import "_mixin.scss";
@import "_themeColors.scss";
@import "_space.scss";

/*==========Common CSS ==========*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
}

@include selection_color;

body {
    --header_height: 100px;
    font-family: $body_font;
    color: $black_color;
    background-color: $body_bg;
    text-rendering: optimizeSpeed;
    padding-top: var(--header_height);
    padding-bottom: 100px;
}

button,
input,
select,
optgroup,
textarea {
    color: $black_color;
    font-size: 16px;
    line-height: 26px;
}

img {
    max-width: 100%;
}

section {
    position: relative;
}

.sec_wp {
    position: relative;
    z-index: 4;
}

.wow {
    visibility: hidden;
}

.for_des {
    display: block !important;
}

.for_mob {
    display: none !important;
}

.for_des_flex {
    display: flex !important;
}

.for_mob_flex {
    display: none !important;
}

.back_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-fluid {
    $padding: clamp(15px, 3vw, 40px);
    padding-left: $padding;
    padding-right: $padding;
}
/*==========Common CSS End==========*/

/*==========Form CSS==========*/

.form_element {
    position: relative;

    i {
        position: absolute;
        top: 15px;
        right: 20px;
        pointer-events: none;
        color: $primary_color;
    }
}

.form_input_wp {
    display: block;
    margin-bottom: 30px;
    position: relative;

    .form_label {
        cursor: pointer;
        font-weight: 500;

        &::selection {
            background-color: transparent;
            color: $black_color;
        }
    }
}

.form_input::-webkit-input-placeholder {
    color: $input_color;
}

.form_input::-moz-placeholder {
    color: $input_color;
}

.form_input:-ms-input-placeholder {
    color: $input_color;
}

.form_input::-ms-input-placeholder {
    color: $input_color;
}

.form_input::placeholder {
    color: $input_color;
}

.form_input,
select {
    width: 100%;
    height: 56px;
    border: 2px solid $border_color;
    outline: none !important;
    padding: 0 30px;
    color: $black_color;
    background: $white_color;
    -webkit-appearance: none;
    border-radius: 12px;
}

select {
    color: $input_color !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand {
        display: none;
    }
    option {
        color: $black_color !important;
    }
}

textarea.form-input {
    height: 192px;
    resize: none;
    padding: 18px 30px;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    --checkbox_size: 25px;
    --radio_size: 32px;
    width: var(--checkbox_size);
    height: var(--checkbox_size);
    margin: 0;
    outline: none !important;
    overflow: hidden;
    background: transparent;
    @include shadow_3D_Down;
    margin-right: 10px;
    -webkit-appearance: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;

    @include check_radio(4px);

    &:checked {
        &:before,
        &:after {
            opacity: 1;
        }
    }
}

input[type="radio"] {
    width: var(--radio_size);
    height: var(--radio_size);
    border-radius: 50%;

    @include check_radio(50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

/*==========Form CSS End==========*/

/*==========Typography CSS==========*/

p {
    @include font-size($p_font_sizes);
    color: $silver_color;

    a {
        color: $primary_color;
        position: relative;
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover {
            background-position: 0 0;
        }
    }

    &.big_text {
        @include font-size($big_p_font_size);
    }
}

a {
    text-decoration: none !important;
    outline: none !important;
    color: $black_color;

    &:hover {
        color: initial;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: $title_font;
}

.h1_title,
.h2_title,
.h3_title,
.h4_title,
.h5_title,
.h6_title {
    span {
        display: block;
    }
}

.h1_title {
    @include font-size($h1_font_sizes);
    text-transform: capitalize;
    font-style: italic;
}

.h2_title {
    @include font-size($h2_font_sizes);
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
}

.h3_title {
    @include font-size($h3_font_sizes);
}

.h4_title {
    @include font-size($h4_font_sizes);
}

.h5_title {
    @include font-size($h5_font_sizes);
}

.h5_title {
    @include font-size($h6_font_sizes);
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.read_more {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 3px;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $primary_color;
        transform: scaleX(0);
        transform-origin: right;
        -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1), -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        opacity: 0.5;
    }

    svg {
        transition: 0.3s;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
            transform-origin: left;
        }

        svg {
            transform: rotate(45deg);
        }
    }
}

/*==========Typography CSS End==========*/

/*==========Button CSS==========*/

.sec-btn {
    padding: 16px 41px;
    line-height: 1.42857143;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $black_color;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    outline: none !important;
    border-radius: 0 !important;
    font-weight: 600;
    transition: 0.4s;

    &:hover {
        color: $white_color;
    }

    &.white-hover-btn {
        &:hover {
            color: $black_color;
        }
    }

    &.white-btn {
        color: $black_color;

        &:hover {
            color: $white_color;
        }
    }
}

/*==========Button CSS End==========*/

/*==========loader CSS==========*/

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black_color;
    z-index: 99;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white_color;
    }
}

/*==========loader CSS End==========*/

/*==========Header CSS==========*/

.site_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header_height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($black_color, 0.1);
    z-index: 99;

    .header_menu {
        @include flex(center, center);
        ul {
            @include list_item() {
                --menu_padding: 5px;
                color: $black_color;
                font-weight: 500;
                transition: 0.3s;
                position: relative;
                @include flex(initial, center);
                text-transform: uppercase;
                padding-left: var(--menu_padding);
                padding-right: var(--menu_padding);
                padding-bottom: 2px;
                @include font-size($font_sizes_18);
                font-weight: 600;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $primary_color;
                    border-radius: 50%;
                    display: block;
                    opacity: 0;
                    transition: 0.3s;
                }

                &:hover,
                &.active_menu {
                    color: $primary_color;

                    &:before {
                        opacity: 0.4;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .header_button {
        @include flex(right, center);
        column-gap: 12px;
        .theme-toggle {
            --button_size: 48px;
            font-size: 25px;
            width: var(--button_size);
            height: var(--button_size);
            border-radius: 50%;
            background-color: $black_color;
            color: $white_color;
            @include flex(center, center);
            @include shadow_3D_1;
        }
    }
}

.drop_down {
    position: relative;

    .drop_down_btn {
        --button_spacing: 25px;
        @include flex(center, center);
        padding: {
            left: var(--button_spacing);
            right: var(--button_spacing);
        }
        min-height: 48px;
        border-radius: $lg_border_radius;
        position: relative;
        z-index: 2;
        outline: none !important;
        border: none !important;
        background-color: $black_color;
        color: $white_color;
        @include shadow_16_DP;
        transition: 0.3s;

        svg {
            margin-left: 28px;
        }

        &:hover {
            background-color: $primary_color;
            ~ .drop_down_list {
                @include show_menu;
            }
        }
    }

    .drop_down_list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba($white_color, 0.2);
        border-radius: $sm_border_radius;
        padding: 8px 15px;
        backdrop-filter: blur(25px);
        border: 1px solid rgba($black_color, 0.5);
        transition: 0.3s;
        @include hidden_menu;
        @include shadow_16_DP;

        li {
            display: block;
            &:not(li:last-child) {
                margin-bottom: 5px;
            }

            a {
                transition: 0.2s;
                &:hover {
                    color: $primary_color;
                }
            }
        }

        &:hover {
            @include show_menu;
        }
    }
}

/*==========Header CSS End==========*/

/*==========Tabbing CSS==========*/

.tabbing_wrapper {
    ul {
        @include list_item(6);
        .tabbing_button {
            --button_spacing: 26px;
            @include flex(center, center);
            padding: {
                left: var(--button_spacing);
                right: var(--button_spacing);
            }
            min-height: 48px;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: $lg_border_radius;
            position: relative;
            z-index: 2;
            outline: none !important;
            background-color: $white_color;
            border: 2px solid $light_silver_color;
            color: $black_color;
            @include shadow_3D_1;
            transition: 0.3s;

            img {
                margin-right: 6px;
                filter: brightness(0) invert(0);
            }

            &.active_tabbing_button,
            &:hover {
                background-color: $primary_color;
                border-color: $primary_color_60;
                color: $white_color;

                img {
                    filter: brightness(1) invert(1);
                }
            }
        }
    }
}

/*==========Tabbing CSS End==========*/

/*==========Common Box CSS==========*/

.common_box {
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    background: rgba($white_color, 0.4);
}

.box_title {
    margin-bottom: 20px;
}

.box_tabbing {
    ul {
        li {
            display: inline-block;
            margin: 0px 5px;
            vertical-align: top;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            .box_tabbing_btn {
                --border_radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white_color;
                padding: 0 25px;
                border: 2px solid $light_silver_color;
                border-radius: var(--border_radius) var(--border_radius) 0 0;
                border-bottom: none;
                font-size: 18px;
                font-weight: 600;
                min-height: 62px;
                opacity: 0.7;
                text-transform: capitalize;
                transition: 0.3s;

                img {
                    margin-right: 12px;
                    transition: 0.3s;
                }

                &:hover,
                &.is_active {
                    opacity: 1;
                    background-color: $primary_color;
                    border-color: $primary_color_60;
                    color: $white_color;

                    img {
                        filter: brightness(1) invert(1);
                    }
                }
            }
        }
    }
}

.box_tabbing_wp {
    .tabbing_content {
        --border_radius: 15px;
        padding: 30px;
        background: rgba($white_color, 0.4);
        border: 2px solid rgba($black_color, 0.05);
        border-radius: 0 var(--border_radius) var(--border_radius) var(--border_radius);

        .tabbing_title {
            @include font-size($font_sizes_18);
            color: rgba($black_color, 0.8);
            border-bottom: 2px solid rgba($black_color, 0.05);
            padding-bottom: 8px;
            margin-bottom: 20px;
        }

        .tabbing_col_2 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        }

        .foreground_color_col {
            .tabbing_col_text {
                .gradient_color_wp,
                .color_picker_wp {
                    opacity: 0.5;
                    pointer-events: none;

                    @include none_selection_color;
                }

                &.isRadioActive {
                    .gradient_color_wp,
                    .color_picker_wp {
                        opacity: 1;
                        pointer-events: auto;

                        @include selection_color;
                    }
                }
            }
        }
    }
}

.color_picker_wp {
    --size: 38px;
    display: flex;

    .color_picker_swatch {
        min-width: var(--size);
        height: var(--size);
        border: none;
        outline: none;
        border-radius: 4px;
        @include shadow_3D_Down;

        &:after {
            @include after_before(var(--size), var(--size));
            border-radius: 4px;
            background-image: url(../images/transparent_bg.png);
            z-index: -1;
        }
    }

    .react-colorful {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 10px;
        z-index: 10;
    }

    input {
        width: 100%;
        height: auto;
        background: transparent;
        border: none;
        outline: none;
        padding-left: 10px;
        @include font-size($font_sizes_18);
        font-weight: bold;
    }
}

.gradient_color_wp {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;

    .color_picker_wp {
        margin-bottom: 0;
    }

    .color_swap {
        --size: 34px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        border: 1px solid $silver_border_color;
        background: $white_color;
        @include shadow_3D_Down;
        transition: 0.3s;

        img {
            transition: 0.3s;
        }

        &:hover {
            background: $primary_color;
            img {
                filter: brightness(1) invert(1);
            }
        }
    }
}

.logo_input {
    display: flex;
    column-gap: 20px;

    .logo_input_img {
        --size: 130px;
        min-width: var(--size);
        height: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 2px solid $light_silver_color;
        border-radius: 10px;
        @include shadow_3D_1;
    }

    .logo_input_btn {
        flex: 1;
    }
}

/*==========Common Box CSS End==========*/
